{% extends 'layouts/app.html' %}

{% block content %}
<section class="layout-pt-md layout-pb-md">
    <div data-anim-wrap class="container">
        <div data-anim-child="slide-up delay-1" class="row y-gap-20 justify-between items-end">
            <div class="col-auto">
                <div class="sectionTitle -md">
                    <h2 class="sectionTitle__title">
                        {% if request.session.lang == "en" or request.session.lang == None %}
                            Homilies
                        {% elif request.session.lang == "fr" %}
                            Homélies
                        {% elif request.session.lang == "rw" %}
                            Inyigisho
                        {% elif request.session.lang == "sw" %}
                            Mahubiri
                        {% endif %}
                    </h2>
                    <p class=" sectionTitle__text mt-5 sm:mt-0">
                        
                    </p>
                </div>
            </div>
            <div class="col-auto">
                <a href="#" class="button -md -blue-1 bg-blue-1-05 text-blue-1">
                    More <div class="icon-arrow-top-right ml-15"></div>
                </a>
            </div>
        </div>
        <div class="row y-gap-30 pt-40 sm:pt-20">
            <div data-anim-child="slide-up delay-3" class="col-xl-3 col-lg-3 col-sm-6">
                <a href="#" class="hotelsCard -type-1 ">
                    <div class="hotelsCard__image">
                        <div class="cardImage ratio ratio-1:1">
                            <div class="cardImage__content">
                                <img class="rounded-4 col-12" src="img/hotels/1.png" alt="image">
                            </div>
                            <div class="cardImage__wishlist">
                                <button class="button -blue-1 bg-white size-30 rounded-full shadow-2">
                                    <i class="icon-heart text-12"></i>
                                </button>
                            </div>
                            <div class="cardImage__leftBadge">
                                <div class="py-5 px-15 rounded-right-4 text-12 lh-16 fw-500 uppercase bg-dark-1 text-white">
                                    Breakfast included
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hotelsCard__content mt-10">
                        <h4 class="hotelsCard__title text-dark-1 text-18 lh-16 fw-500">
                            <span>The Montcalm At Brewery London City</span>
                        </h4>
                        <p class="text-light-1 lh-14 text-14 mt-5">Westminster Borough, London</p>
                        <div class="d-flex items-center mt-20">
                            <div class="flex-center bg-blue-1 rounded-4 size-30 text-12 fw-600 text-white">4.8</div>
                            <div class="text-14 text-dark-1 fw-500 ml-10">Exceptional</div>
                            <div class="text-14 text-light-1 ml-10">3,014 reviews</div>
                        </div>
                        <div class="mt-5">
                            <div class="fw-500">
                                Starting from <span class="text-blue-1">US$72</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}