{% load static %}
<!DOCTYPE html>
<html lang="en" data-x="html" data-x-toggle="html-overflow-hidden">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/vendors.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Ruhango Divine Mercy Sanctuary</title>
</head>
<body>

    <div class="preloader js-preloader">
        <div class="preloader__wrap">
            <div class="preloader__icon">
                <img src="{% static 'img/logo/logo.png' %}" alt="SM Ruhango" width="38" height="37">
            </div>
        </div>
    
        <div class="preloader__title">
            SM Ruhango
        </div>
    </div>

    <main>
        <div class="header-margin"></div>

        {% include 'components/header.html' %}

        {% block content %}{% endblock content %}

        {% include 'components/footer.html' %}
    </main>

    <div class="langMenu is-hidden js-langMenu" data-x="lang" data-x-toggle="is-hidden">
        <div class="langMenu__bg" data-x-click="lang"></div>
    
        <div class="langMenu__content bg-white rounded-4">
            <div class="d-flex items-center justify-between px-30 py-20 sm:px-15 border-bottom-light">
                <div class="text-20 fw-500 lh-15">Select your language</div>
                <button class="pointer" data-x-click="lang">
                    <i class="icon-close"></i>
                </button>
            </div>
    
            <div class="modalGrid px-30 py-30 sm:px-15 sm:py-15">

                <a href="{% url 'base:change_language' 'en' %}" class="modalGrid__item js-item">
                    <div class="py-10 px-15 sm:px-5 sm:py-5">
                        <div class="text-15 lh-15 fw-500 text-dark-1">English</div>
                        <div class="text-14 lh-15 mt-5 js-title">United States</div>
                    </div>
                </a>
            
                <a href="{% url 'base:change_language' 'fr' %}" class="modalGrid__item js-item">
                    <div class="py-10 px-15 sm:px-5 sm:py-5">
                        <div class="text-15 lh-15 fw-500 text-dark-1">Français</div>
                        <div class="text-14 lh-15 mt-5 js-title">France</div>
                    </div>
                </a>
            
                <a href="{% url 'base:change_language' 'rw' %}" class="modalGrid__item js-item">
                    <div class="py-10 px-15 sm:px-5 sm:py-5">
                        <div class="text-15 lh-15 fw-500 text-dark-1">Kinyarwanda</div>
                        <div class="text-14 lh-15 mt-5 js-title">Rwanda</div>
                    </div>
                </a>
            
                <a href="{% url 'base:change_language' 'sw' %}" class="modalGrid__item js-item">
                    <div class="py-10 px-15 sm:px-5 sm:py-5">
                        <div class="text-15 lh-15 fw-500 text-dark-1">Kiswahili</div>
                        <div class="text-14 lh-15 mt-5 js-title">Kenya</div>
                    </div>
                </a>
            
            </div>
            
        </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAz77U5XQuEME6TpftaMdX0bBelQxXRlM"></script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script src="{% static 'js/vendors.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>