{% load static %}

<section data-anim-wrap class="masthead -type-1 z-5">
	<div data-anim-child="fade" class="masthead__bg">
		<img src="#" alt="image" data-src="{% static 'img/img-1.jpg' %}" class="js-lazy">
	</div>
	<div class="container">
		<div class="row justify-center">
			<div class="col-auto">
				<div class="text-center">
					<h1 data-anim-child="slide-up delay-4" class="text-60 lg:text-40 md:text-30 text-white">
                        Ruhango Divine Mercy Sanctuary
                    </h1>
					<p data-anim-child="slide-up delay-5" class="text-white mt-6 md:mt-10">
                        Ruhango Divine Mercy Sanctuary has a rich history rooted in faith and community. Established in the early 20th century, it has served as a beacon of hope and healing for countless individuals. The sanctuary is dedicated to promoting divine mercy and fostering a sense of unity among its members.
                    </p>
				</div>
			</div>
		</div>
	</div>
</section>